<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.books.GoodsManage.mapper.GoodsInfoMapper">
   
<resultMap id="resultMap" type="com.books.entity.goodsInfo.GoodsInfoBean">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="book_info_id" property="bookInfoId" jdbcType="INTEGER" />
    <result column="benefit_price" property="benefitPrice" jdbcType="DECIMAL" />
    <result column="discount" property="discount" jdbcType="INTEGER" />
    <result column="old_price" property="oldPrice" jdbcType="DECIMAL" />
    <result column="benefit_type" property="benefitType" jdbcType="VARCHAR" />
    <result column="put_date" property="putDate" jdbcType="DATE" />
    <result column="off_date" property="offDate" jdbcType="DATE" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="isdel" property="isdel" jdbcType="VARCHAR" />
    <result column="is_off" property="isOff" jdbcType="VARCHAR" />
    
   <association property="bookInfoBean" column="bookInfoBean" javaType="com.books.entity.bookinfo.BookInfoBean">
		<result column="book_name" property="bookName" jdbcType="VARCHAR" />
	    <result column="author" property="author" jdbcType="VARCHAR" />
	    <result column="publisher" property="publisher" jdbcType="VARCHAR" />
	    <result column="img_url_json" property="imgUrlJson" jdbcType="VARCHAR" />
	    <result column="default_img_url" property="defaultImgUrl" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="DATE" />
	    <result column="update_time" property="updateTime" jdbcType="DATE" />
	    <result column="isdel" property="isdel" jdbcType="VARCHAR" />
  </association>
</resultMap>

<select id="findGoodsInfoList" parameterType="com.books.entity.goodsInfo.GoodsInfoBean" resultMap="resultMap">
	SELECT DISTINCT
		g.id,
		g.book_info_id,
		g.benefit_price,
		g.discount,
		g.benefit_type,
		g.old_price,
		g.put_date,
		g.off_date,
		g.is_off,
		s.stock_number,
		b.book_name,
		b.publisher,
		b.img_url_json,
		b.default_img_url,
		b.author 
	FROM
		tbl_goods_info g
		LEFT JOIN tbl_book_info b ON g.book_info_id = b.id
		LEFT JOIN tbl_goods_stock_number s ON s.goods_id = g.id 
		LEFT JOIN tbl_book_info_type t on t.book_info_id = b.id
		LEFT JOIN tbl_book_type ty on t.type_id = ty.id
		LEFT JOIN tbl_book_info_label l on l.book_info_id = b.id
		LEFT JOIN tbl_book_label lb on l.label_id = lb.id
		where	g.isdel = '0'
		<if test="bookInfoBean.bookName != null and bookInfoBean.bookName != '' ">
			and b.book_name like '%${bookInfoBean.bookName}%'
		</if>
		<if test="isOff != null and isOff != '' ">
			and g.is_off =#{isOff}
		</if>
		<if test="bookInfoBean.typeIds != null">
			and t.type_id in
			<foreach collection="bookInfoBean.typeIds" index="index" item="item" separator="," open="(" close=")">
			   ${item}
			</foreach>
			
		</if>
		<if test="bookInfoBean.labelIds != null">
			and l.label_id in 
			<foreach collection="bookInfoBean.labelIds" index="index" item="item" separator="," open="(" close=")">
			   ${item}
			</foreach>
		</if>
	
</select>
   
</mapper>
